# This file is a "template" of what your parameters.yml file should look like
parameters:
    locale:            en

    cors_allow_origin: http://localhost

    api_name:          Your API name
    api_description:   The full description of your API

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
